<div class="assists">
    <ul class="rankheader">
        <li class="rank1">球员</li>
        <li class="rank2">球队</li>
        <li class="rank3">助攻</li>
    </ul>
    <% if (data && data.length > 0) {%>
    <div class="data-list">

    </div>
    <% } else { %>
    <div class="data-list">助攻榜为空……</div>
    <% } %>
    <div class="rankmore">查看更多</div>
</div>