<div class="shooters">
    <ul class="rankheader">
        <li class="rank1">球员</li>
        <li class="rank2">球队</li>
        <li class="rank3">进球</li>
    </ul>
    <% if (data && data.length > 0) {%>
    <div class="data-list">射手榜</div>
    <% } else { %>
    <div class="data-list">射手榜为空……</div>
    <% } %>
    <div class="rankmore">查看更多</div>
</div>