<div class="teams">
    <ul class="rankheader">
        <li class="rank1">球队</li>
        <li class="rank2">胜/平/负</li>
        <li class="rank3">积分</li>
    </ul>
    <div class="rankmore">查看更多</div>
</div>