#channels-header{
  height: 110px;
}

.headercontent{
  display: inline-block;
  height: 60px;
  padding: 25px 0;
}

.headertitle{
  width: 74px;
  height: 35px;
  margin-bottom: 9px;
}

.headertext{
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

.headerlogo{
  padding-right: 13px;
}

.headertext p{
  color: #37003C;
  font-size: 14px;
  font-family: MicrosoftYaHei;
}

